*{
    margin: 0;
    padding: 0;
}

/* Here goes the styling of all divs */
.divStyle{
    border: 3px solid black;
    width: 100px;
    height: 500px;
    padding: 20px;
}

/* Here goes the specified position value for each divs */
.first_div{
    position: absolute;
    top: 20px;
    left: 20px;
}

.second_div{
    position: absolute;
    top: 20px;
    left: 200px;
}

.third_div{
    position: absolute;
    top: 20px;
    left: 400px;
}

.fourth_div{
    position: absolute;
    top: 20px;
    left: 600px;
}