$primary-bgcolor: #0c0e0c;
$secondary-bgcolor: #d8323d65;
$primary-color: #eaebea;
$primary-ffamily: 'Poppins', sans-serif;
$fsize-heading: 35px;
$fsize-normaltxt: 16px;

@mixin bgimg{
    background-image: url(/bgimage.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

@mixin special-text{
    font-family: $primary-ffamily;
    font-size: $fsize-heading;
    color: $primary-color;
    font-weight: bold;
    text-align: center;
    text-shadow: 2px 8px black;
}

@mixin labels{
    font-family: $primary-ffamily;
    font-size: $fsize-normaltxt;
    color: $primary-color;   
    font-weight: 500;
}

*{
    margin : 0;
    padding: 0;
    font-family: $primary-ffamily;
}

.parent{
    @include bgimg;
}

.mainHeading{
    @include special-text;
}

.labels{
    @include labels;
}

.mainContainer{
    width: 35%;
    max-width: 500px;
    min-width: 500px;
    margin: 200px auto;
    border: 5px solid $secondary-bgcolor;
    border-radius: 20px;
}

.formContainer{
    color:$primary-color;
    padding: 20px;
}

.form-control:valid {
    background-color:  $secondary-bgcolor;
    color: $primary-color;
}


