*{
    font-family: 'Courier New', Courier, monospace;
}

h1{
    color: brown;
}

/* ID Selector */
#title-1{
    color: aqua;
}

/* Class Selector */
.title-2{
    color: darkred;
    text-align: center;
}

/* Attribute Selector */
[type="text"]{
    background-color: aquamarine;
}

/* Descendant Selector
- selects/targets "all elements" that matches the specified element.

Syntax: first element child element {
    property: value;
}
*/

/* div p{
    background-color: red;
} */




/* Child Selector
- it selects or targets "all" elements that are direct children of a specified element. 
 */
/* div > p {
    background-color: chocolate;
} */






/* Adjacent Sibling Selector (+)
- it selects or targets an element that is directly after the first selector
*/

/* p + p{
    background-color: maroon;
}

div + p{
    background-color: #e228bd;
} */





/* General Sibling Selector */

/* p ~ p{
    background-color: cornflowerblue;
} */




/* Medium devices (Landscape tablet, 768 px and up */

@media only screen and (min-width: 500px) {
    .screen {background-color: pink;}
}


/* Large Devices (Laptops and desktops */
@media only screen and (min-width: 900px) {
    .screen {background-color:blue}
}




/* Pseudo Class
selector: pseudo-class{prperty:value}
*/

/* Unlisted link */
a:link{
    color:red;
}

/* Visited link */
a:visited{
    color: green;
}

/* Mouse over link */
a:hover{
    color:orange;
}

/* Selected Link */
a:active{
    color: dodgerblue;
}

/* 
    Pseudo Elements
    - used to style specific parts of an element

    Common Usage:
    1. style the first letter
    2. style the first line

    SYNTAX: selector::pseudo-element {property:value}
*/

/* first-line - when we shrink or resize our web pages, the first line of a sentence changes */

/* p::first-line{
    color: #ff0000;
    font-variant: small-caps;
} */

p::first-letter{
    color: brown;
    font-size: 200%;
}

/* manipulating pictures */
#my_dog img{
     width: 10%;
     height: 10%;
     border-radius: 50px;
}

li {
    list-style-type: none;
}

ul > li {
    letter-spacing: 4px;
}